ul li.football{
	list-style-image: url(favicon.ico);
}
ul{
	width: 500px;
	border: 1px solid black;
	

}
.nhom #service{
	width: 200px;
	float: left;
	margin-right: 30px;
	list-style-type: none;
	text-align: center;
	background-color: red;

}
ul li.music{
	list-style-image: url(music.ico);
}
ul li.address{
background-color: green; 
}
.Rice{
	list-style-type: upper-roman;
}
.Food{
	list-style-type: upper-alpha;

}
a{
	text-decoration: none;
}
#home{
	height: 600px;
}